
server {
        listen 80;
        listen [::]:80;

        server_name {{letsencrypt_domain_name}}

        root /var/www/{{letsencrypt_domain_name}};

        location ~ /.well-known {
                allow all;
        }

}