server {

    location ~ /.well-known {
            allow all;
    }

    index index.html;

    root /var/www/{{letsencrypt_domain_name}};

    listen 443 ssl;

    server_name {{letsencrypt_domain_name}};

    include /etc/nginx/snippets/ssl-{{letsencrypt_domain_name}}.conf;
    include /etc/nginx/snippets/ssl-params.conf;
    
    include /etc/nginx/conf.d/{{letsencrypt_domain_name}}/*.conf;    
}


server {
    listen 80;
    listen [::]:80;
    server_name {{letsencrypt_domain_name}};
    return 301 https://$host$request_uri;
}

